.image-container {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.image-container .image {
    width: 85px;
    height: 80px;
    background-size: 85px 80px;
}

.image-container div:not(.image) {
    text-align: center;
}

.panorama-container {
    height: auto;
    position: absolute;
    top: 0; 
    bottom: 0;
    width:100%;
}

.dx-panorama {
    color: #fff;
}