<div style="padding:0px" class="xe-widget xe-conversations">
  <div class="xe-body">
    <ul id="conversation_messages_target_<%= note.id.to_s %>" class="list-unstyled">
      <%= render 'discussions/conversation_messages', discussions: discussions %>
    </ul>
    <div id="conversation_form_target_<%= note.id.to_s %>">
      <%= render 'discussions/conversation_create_message_form', note: note %>
    </div>
  </div>
</div>