<div class="modal fade" id="discussion_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="border:0px solid white" class="modal-header">
        <h2>Note Discussion</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div id="discussion_modal_target">
          <!-- Content Target -->
        </div>
      </div>
      <div style="border:0px solid white" class="modal-footer">
        <button type="button" onclick="$('#discussion_modal').modal('hide'); return false;" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>