/deep/ .filter-container {
    background-color: rgba(191, 191, 191, 0.15);
    padding: 5px;
    width: 500px;
    margin-bottom: 25px;
}

/deep/ .dx-filterbuilder {
    padding: 10px;
}

/deep/ .dx-button {
    margin: 10px;
    float: right;
}
