<div class="well">
  <% if invoice.invitation %>
    <% if invoice.estimate %>
      <strong>Estimate Sent!</strong>
      <h6>Project estimate and Jeweler project invitation sent.</h6>
    <% else %>
      <strong>Invoice Sent!</strong>
      <h6>Project invoice and Jeweler project invitation sent.</h6>
    <% end %>
  <% else %>
    <% if invoice.estimate %>
      <strong>Estimate Sent!</strong>
      <h6>Estimate sent.</h6>
    <% else %>
      <strong>Invoice Sent!</strong>
      <h6>Invoice Sent</h6>
    <% end %>
  <% end %>
  <% if invoice.request_amount %>
    <p>
      <strong>Payment Request Amount: </strong><%= invoice.request_amount.money %>
    </p>
  <% end %>
  <% if invoice.invoice_note %>
    <p>
      <strong>Invoice Note: </strong><%= invoice.invoice_note %>
    </p>
  <% end %>
  <a href="#" onclick="$('#modal').modal('hide')" class="btn btn-success">Close</a>
</div>

<%= render 'invoices/generate_printable', invoice: invoice, display_send_btn: false, display_pay_btn: true, display_print_btn: false %>