<%
  unless defined? display_print_btn
    display_print_btn = false
  end

  unless defined? display_pay_btn
    display_pay_btn = false
  end

  unless defined? display_send_btn
    display_send_btn = false
  end

  unless defined? customer
    customer = false
  end

  unless defined? customer_email
    customer_email = false
  end

  unless defined? payment_request_amount
    payment_request_amount = false
  end

  unless defined? display_payments
    display_payments = false
  end

  unless defined? invoice_note
    invoice_note = false
  end

%>
<div id="printable_invoice_target">
  <%= render 'sprints/printable_invoice',
             invoice: invoice,
             estimate: estimate,
             display_print_btn: display_print_btn,
             display_pay_btn: display_pay_btn,
             display_send_btn: display_send_btn,
             customer: customer,
             customer_email: customer_email,
             payment_request_amount: payment_request_amount,
             invoice_note: invoice_note,
             display_payments: display_payments %>
</div>