<div class="well">
  <h4>Select a Customer</h4>
  <%= render('sprints/select_invoice_customer_form', invoice: sprint, estimate:estimate) %>
</div>

<%= render 'sprints/generate_printable_invoice',
           invoice: sprint,
           estimate: estimate,
           display_send_btn: false,
           display_pay_btn: true,
           display_print_btn: false
%>