/deep/ .dx-menu-item-content span {
    margin-right: 5px;
}
/deep/ .dx-menu-item-has-submenu .dx-icon-spinright {
    position: absolute;
    top: 7px;
    right: 2px;
}
/deep/ #image{
    height: 300px; 
}
/deep/ .label {
    color: #767676;
}
