/deep/ #chart-demo {
    height: 600px;
    width: 100%;
}
/deep/ #radarChart {
    height: 500px;
}
/deep/ #chart-demo > .center {
	text-align: center;
}
/deep/ #chart-demo > .center > div,
/deep/ #chart-demo > .center > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}