/deep/ #tasks {
    max-height: 540px;
}

/deep/ #tasks .dx-treelist-rowsview td {
    vertical-align: middle;
}

/deep/ #tasks .dx-treelist-rowsview  .employee {
    font-size: 0;
}

/deep/ .name {
    font-size: 14px;
}

/deep/ .img,
/deep/ .name {
    display: inline-block;
    vertical-align: middle;
}

/deep/ .img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: #fff;
}