/deep/ .info {
    margin-top: 5px;
    height: 78px;
}
/deep/ .image-container {
    float: left;
    margin-right: 20px;
}
/deep/ .image-container div {
    width: 65px;
    height: 83px;
    background-size: 100%;
}
/deep/ .pivot-container {
    height: auto;
    position: absolute;
    top: 0; 
    bottom: 0;
    width:100%;
}