/deep/ #grid {
    position: relative;
}

/deep/ #grid-container {
    margin-top: 10px;
}

/deep/ #select-prefix {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

/deep/ .selected-data {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

/deep/ .selected-data .caption {
    font-weight: bold;
    font-size: 115%;
}
