@media only screen and (min-width: 1950px) {

    header.header .header-container,
    .dx-theme-builder .wrapper,
    .tools-panel {
        max-width: 1900px;
        margin: 0 auto;
    }

    .toolbox .widgets {
        padding-left: 0;
    }

    .tools-panel .search .left-menu-filter {
        padding-left: 0;
    }
}
