<div data-options="dxView : { name: 'Home', toolbar: false } " >
    <div class="home" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div class="search" data-bind="css: { 'active': isSearchActive }">
            <div class="search-area" data-bind="dxAction: showSearchControls">
                <div class="search-button">
                    <div class="icon"></div>
                    <div class="name">Search</div>
                </div>
                <div class="search-central">
                    <div class="search-inner left">
                        <div class="search-text" data-bind="dxTextBox: { value: text, valueChangeEvent: 'keyup change', onValueChanged: hideError, onEnterKey: searchItemClick }"></div>
                    </div>
                    <div class="search-inner error" data-bind="visible: errorVisible, text: errorMessage"></div>
                    <div class="search-inner right">
                        <div class="button first" data-bind="dxButton: { text: 'Search', onClick: searchItemClick }"></div>
                        <div class="button second" data-bind="dxButton: { text: 'My Location', onClick: locationItemClick }"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="dxDeferRendering: { staggerItemSelector: '.stagger-animated', animation: 'detail-item-rendered', renderWhen: isLoaded, showLoadIndicator: true }">
            <div class="picture-area" data-bind="foreach: listData">
                <div class="picture-item stagger-animated" data-bind="dxAction: $parent.homeItemClick, css: doubleCss, style: { backgroundImage:  image }">
                    <div class="price" data-bind="css: priceCss, text: price"></div>
                </div>
            </div>
        </div>
    </div>
</div>