<div class="panel panel-default">
  <div class="panel-heading">
    Edit Sprint <%= @sprint.sprint.to_s %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= render 'form', sprint: @sprint %>
      </div>
    </div>
  </div>
</div>


