<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <%#= render 'sprints/slider', sprint: project.current_sprint, sprint: project.current_sprint.sprint %>

        <div class="current_sprint_panel" id="sprint_panel_<%= @sprint.id.to_s %>_container">
          <%= render @sprint %>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="home_timeline_container" class="col-md-12">
  <%= render 'projects/timeline', notes: @sprint.project.sprint_notes, project:@sprint.project %>
</div>