<table class="table table-hover members-table middle-align">
  <thead>
  <tr>
    <th>E-Mail</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% project.invitations.each do |invitation| %>
    <tr>
      <td class="user-id">
        <%= invitation.email %>
      </td>
      <td>
        <%= invitation.user_type %>
      </td>
      <td class="action-links">
        <%# TODO: Add Policy Check here for project owner ONLY %>
        <%= link_to invitation, remote: true, method: :delete, data: {confirm: 'Delete Invitation?'} do %>
          <i class="linecons-trash"></i> Delete Invitation
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>