<div class="page-title">
  <div class="title-env">
    <h1 class="title">Project</h1>
    <p class="description">User profile and story timeline</p>
  </div>

  <div class="breadcrumb-env">

    <ol class="breadcrumb bc-1">
      <li>
        <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
      </li>
      <li>

        <a href="extra-gallery.html">Extra</a>
      </li>
      <li class="active">

        <strong>Profile</strong>
      </li>
    </ol>
  </div>
</div>