<h2>Jeweler Commit Codes</h2>
<p>
  We always start with
<pre>#jeweler</pre>
<hr>
<strong>Always put the commit code LAST in commit message!</strong><br>

To report hours or complete a task, we first specify the task (Click the task to get it's ID), in this format (sprint_number + task_letter). So for Sprint 4, Task A:
<br>
<pre>
  #jeweler#task4a
</pre>
To complete a task, we simply add #complete
<pre>
  #jeweler#task#4a#complete
</pre>
To report 3 hours for this task:
<pre>
  #jeweler#task#4a#hours#3
</pre>
To change the estimated hours for this task to 3:
<pre>
  #jeweler#task#4a#estimated-hours#3
</pre>
To specify a different commit message:
<pre>
  #jeweler#commit#message#type your message here
</pre>
To hide the commit message entirely:
<pre>
  #jeweler#commit#message-hide
</pre>
To request a sprint payment (example for sprint 3):
<pre>
  #jeweler#sprint#3#request-payment
</pre>
</p>