<h2>Jeweler Commit Codes</h2>
<p>
  Jeweler Commit Codes can be placed at the end of Git commit messages to execute various actions in Jeweler. Commit codes always start with
<pre>#jeweler</pre>

<span>You can string them together like this:</span>
<pre>#jeweler#task4a#complete #jeweler#task4a#hours#5 #jeweler#task4a#estimate#3 #jeweler#task4b#current</pre>
<h3>Tasks</h3>
Task commit codes start with the Task ID. Example: #task4a
<pre>
  #jeweler#task4a
</pre>
To complete a task:
<pre>
  #jeweler#task#4a#complete
</pre>
To report hours for a task:
<pre>
  #jeweler#task4a#hours#(hours)
  <strong>Example:</strong> #jeweler#task4a#hours#3
</pre>
To report estimated task hours:
<pre>
  #jeweler#task4a#estimate#(estimated-hours)
  <strong>Example:</strong> #jeweler#task4a#estimate#2
</pre>
Set current task
<pre>
  #jeweler#task4a#current
</pre>
To complete, or incomplete a task
<pre>
  #jeweler#task4a#complete
  #jeweler#task4a#incomplete
</pre>

<h3>Sprint</h3>
Set current sprint
<pre>
  #jeweler#sprint4#current
</pre>
Open and close a sprint
<pre>
  #jeweler#sprint4#open
  #jeweler#sprint4#close
</pre>
Request payment for a sprint, or cancel a payment-request
<pre>
  #jeweler#sprint4#request-payment
  #jeweler#sprint3#cancel-payment-request
</pre>
Send invoice or estimate
<pre>
  #jeweler#sprint4#send-invoice
  #jeweler#sprint4#send-estimate
</pre>

<h3>Commit</h3>
To specify a different commit message to be displayed in the Jeweler note (rather than the commit message):
<pre>
  #jeweler#commit#message#(your-message-here)
</pre>
To hide the commit message entirely:
<pre>
  #jeweler#commit#hide-message
</pre>
</p>