<!-- User Post form and Timeline -->
<form method="post" action="" class="profile-post-form">
  <textarea class="form-control input-unstyled input-lg autogrow" placeholder="What's on your mind?"></textarea>
  <i class="el-edit block-icon"></i>

  <ul class="list-unstyled list-inline form-action-buttons">
    <li>
      <button type="button" class="btn btn-unstyled">
        <i class="el-camera"></i>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-unstyled">
        <i class="el-attach"></i>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-unstyled">
        <i class="el-mic"></i>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-unstyled">
        <i class="el-music"></i>
      </button>
    </li>
  </ul>

  <button type="submit" class="btn btn-single btn-xs btn-success post-story-button">Post</button>
</form>