<div class="col-sm-6">

  <strong>Sprint <%= sprint %> Payments</strong>

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>Arlind</td>
      <td>Nushi</td>
    </tr>

    <tr>
      <td>2</td>
      <td>Art</td>
      <td>Ramadani</td>
    </tr>

    <tr>
      <td>3</td>
      <td>Filan</td>
      <td>Fisteku</td>
    </tr>
    </tbody>
  </table>

</div>