<% if project.sprint_current != project.sprint_total %>
  <div class="progress-indicator"
       style="width: <%= progress_percent %>%;">
    <span></span>
  </div>
<% else %>
  <div class="progress-indicator"
       style="width: 100%;">
    <span></span>
  </div>
<% end %>