<br/>

<div class="row">

  <div class="col-md-12">

    <ul class="nav nav-tabs nav-tabs-justified">
      <li class="active">
        <a href="#timeline" data-toggle="tab">
          <span class="visible-xs"><i class="fa-bell-o"></i></span>
          <span class="hidden-xs">Timeline</span>
        </a>
      </li>
      <li>
        <a href="#invoices" data-toggle="tab">
          <span class="visible-xs"><i class="fa-user"></i></span>
          <span class="hidden-xs">Sprints & Invoices</span>
        </a>
      </li>
      <li>
        <a href="#customers" data-toggle="tab">
          <span class="visible-xs"><i class="fa-user"></i></span>
          <span class="hidden-xs">Customers</span>
        </a>
      </li>
      <li>
        <a href="#readme" data-toggle="tab">
          <span class="visible-xs"><i class="fa-cog"></i></span>
          <span class="hidden-xs">Readme</span>
        </a>
      </li>
    </ul>

    <div style="background-color:#eee"  class="tab-content">
      <div class="tab-pane active" id="timeline">
        <div>
        </div>
      </div>

      <div class="tab-pane" id="invoices">
      </div>

      <div class="tab-pane" id="customers">
      </div>

      <div class="tab-pane" id="readme">
        <%= @github_readme_parsed.html_safe %>
      </div>
    </div>

  </div>
</div>
