<div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
  <div class="panel-heading">
    <h3 class="panel-title">Tabbed panel</h3>

    <div class="panel-options">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab-1" data-toggle="tab">Summary</a>
        </li>
        <li class="">
          <a href="#tab-2" data-toggle="tab">Invoices</a>
        </li>
        <li>
          <a href="#tab-3" data-toggle="tab">Pears</a>
        </li>
      </ul>

    </div>
  </div>


  <div class="tab-content">

    <div class="tab-pane" id="tab-1">
      <%= render 'projects/widgets' %>
    </div>

    <div class="tab-pane" id="tab-2">
      <p>Building mr concerns servants in he outlived am breeding. He so lain good miss when sell some at if. Told hand
        so an rich gave next. How doubt yet again see son smart. While mirth large of on front. Ye he greater related
        adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how
        old. </p>
      <p>Old there any widow law rooms. Agreed but expect repair she nay sir silent person. Direction can dependent one
        bed situation attempted. His she are man their spite avoid. Her pretended fulfilled extremely education yet.
        Satisfied did one admitting incommode tolerably how are. </p>
      <p>Dispatched entreaties boisterous say why stimulated. Certain forbade picture now prevent carried she get see
        sitting. Up twenty limits as months. Inhabit so perhaps of in to certain. Sex excuse chatty was seemed warmth.
        Nay add far few immediate sweetness earnestly dejection. </p>
    </div>

    <div class="tab-pane active" id="tab-3">
      <p>In to am attended desirous raptures declared diverted confined at. Collected instantly remaining up certainly
        to necessary as. Over walk dull into son boy door went new. At or happiness commanded daughters as. Is handsome
        an declared at received in extended vicinity subjects. Into miss on he over been late pain an. Only week bore
        boy what fat case left use. Match round scale now sex style far times. Your me past an much. </p>
      <p>Far concluded not his something extremity. Want four we face an he gate. On he of played he ladies answer
        little though nature. Blessing oh do pleasure as so formerly. Took four spot soon led size you. Outlived it
        received he material. Him yourself joy moderate off repeated laughter outweigh screened. </p>
      <p>Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove far spirit.
        She procuring the why performed continual improving. Civil songs so large shade in cause. Lady an mr here must
        neat sold. Children greatest ye extended delicate of. No elderly passage earnest as in removed winding or. </p>
    </div>

  </div>

</div>