<div class="page-title">

  <div class="title-env">
    <h1 class="title">New Project</h1>
    <p class="description">Create a new Jewler CRM Project</p>
  </div>

  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="<%= root_url %>"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Create Project</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Project</h3>
        <div class="panel-options">
        </div>
      </div>
      <div class="panel-body">

        <%= render 'form', project: @project %>

      </div>

    </div>
  </div>

</div>