/deep/ #chart-demo {
    height: 440px;
}

/deep/ .charts {
	width: 820px;
    margin: 0 auto;
    height: 374px;
    margin-bottom: 40px;
    font-size: 0;
}

/deep/ #chart, #pieChart{
    width: 395px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

/deep/ #chart {
    margin-right: 30px;
}

/deep/ .controls-pane {
    text-align: center;
}