<div class="alert alert-success">
  <i class="fab fa-2x fa-github pull-right"></i>
  Uninstall GitHub Webhook? <%= link_to 'Uninstall Webhook.', uninstall_github_webhook_path(project.id), method: :delete, remote: true %>.
</div>