<div class="alert alert-danger">
  <i class="fab fa-2x fa-github pull-right"></i>
  Install GitHub Webhook So Jeweler Can Receive Push Events. <%= link_to 'Install Webhook.', install_github_webhook_path(project.id), remote: true %>.
</div>