<div class="alert alert-danger">
  <i class="fab fa-2x fa-github pull-right"></i>
  Install GitHub Webhook for Commit Events <%= link_to 'Here', install_github_webhook_path(project.id), remote: true %>.
</div>