<div class="alert alert-danger">
  <i class="fab fa-2x fa-github pull-right"></i>
  The GitHub Webhook Must Be Reinstalled. <%= link_to 'Install Webhook.', install_github_webhook_path(project.id), remote: true %>.
</div>