/deep/ h2 {
    text-align: center;
}
/deep/ .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/deep/ .option {
    margin-top: 10px;
}
 /deep/ .caption {
    font-size: 18px;
    font-weight: 500;
}
/deep/ .option > span {
    margin-right: 10px;
}
/deep/ .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}
