/deep/ #employees {
    max-height: 307px;
}

/deep/ .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/deep/ .caption {
	font-weight: 500;
	font-size: 18px;
}

/deep/ .option {
    margin-top: 10px;
}

/deep/ .option > span {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

/deep/ .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}