/deep/ #chart-demo {
    width: 100%;
}
/deep/ #rectangleNeedle, #twoColorNeedle, #triangleNeedle, #rangebar, #textCloud, #triangleMarker {
    display: inline-block;
}
/deep/ #rectangleNeedle, #twoColorNeedle, #triangleNeedle {
    width: 33%;
}
/deep/ #rangebar, #triangleMarker {
    width: 32%;
}
/deep/ #textCloud {
    width: 35%;
    vertical-align: bottom;
}

/deep/ .long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}