/deep/ #form {
    min-height: 587px;
}

/deep/ .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

/deep/ .options .dx-fieldset {
    margin: 0;
}

/deep/ .option {
    margin-top: 10px;
}

/deep/ .caption {
    font-size: 18px;
    font-weight: 500;
    padding-right: 15px;
}

/deep/ .option > span {
    margin-right: 10px;
}

/deep/ .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
} 
