/deep/ #data-grid-demo {
    min-height: 700px;
}

/deep/ #gridContainer {
    padding-top: 45px;
}
/deep/ #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 1px;
    top: 0;
}