/deep/ #grid-container {
    height: 400px;
}
/deep/ .center {
    text-align: center;
}
/deep/ .selection-summary {
    border: 1px solid rgba(161, 161,161, 0.2);
    padding: 25px;
}
/deep/ .column {
    margin: 20px 30px 0 0;
    display: inline-block;
    white-space: nowrap;
    text-align: right;
}
/deep/ .value {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}
/deep/ .text {
    text-align: left;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
}
/deep/ .avg-duration {
    width: 100px;
}
/deep/ .count{
    width: 40px;
} 
/deep/ .people-count {
    width: 65px;
}