<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Normal</div>
        <div class="dx-field-value">
            <dx-button [text]="okButtonOptions.text" [type]="okButtonOptions.type" (onClick)="okButtonOptions.onClick()"></dx-button>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Success</div>
        <div class="dx-field-value">
            <dx-button [text]="applyButtonOptions.text" [type]="applyButtonOptions.type" (onClick)="applyButtonOptions.onClick()"></dx-button>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Default</div>
        <div class="dx-field-value">
            <dx-button [text]="doneButtonOptions.text" [type]="doneButtonOptions.type" (onClick)="doneButtonOptions.onClick()"></dx-button>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Danger</div>
        <div class="dx-field-value">
            <dx-button [text]="deleteButtonOptions.text" [type]="deleteButtonOptions.type" (onClick)="deleteButtonOptions.onClick()"></dx-button>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Back</div>
        <div class="dx-field-value">
            <dx-button [type]="backButtonOptions.type" (onClick)="backButtonOptions.onClick()"></dx-button>
        </div>
    </div>
</div>