/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.user_github_auth_icon {
    width: 100px !important;
}

.user_github_auth_icon > i.devicon {
    width: 50px;
    height: auto;
}

.margin-left-20 {
    margin-left: 20px;
}

.review-invoice-well {
    min-height: 150px !important;
}

.one-em {
    font-size: 1em !important;
}

.not-bold {
    font-weight: normal !important;
}

.user-role {
    margin-top:5px;
    display: block;
    font-size: 15px;
    text-align: center;
}

.alert-danger > a {
  /*color: white;*/
}

#timeline_alert {
  padding:1px;
}

#notifications_container > fas {
  color: white;
  padding-bottom: 2px;
}