/deep/ .low .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: gray;
}
/deep/ .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: green;
}
/deep/ .urgent .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: orange;
}
/deep/ .high .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: red;
}
/deep/ #radio-group-with-selection {
    margin-bottom: 10px;
}
/deep/ #tasks-list {
    margin: 0 0 10px 10px;
    white-space: normal;
}
/deep/ #list {
    margin: 10px 0 0 20px;
    padding-left: 0;
    text-align: left;
}