<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>You are invited to join <%= @project_name %> on Jeweler</h1>

    <p>You need to create an account on Jeweler, <%= link_to 'Here', new_user_registration_url %>.</p>

    <p>Or cut and paste this link into your browser <%= new_user_registration_url %>

    <p>Once you create your account, you can accept the project invitation for <%= @project_name %></p>

    <p>Jeweler is CRM, AGILE Project Planning and Invoicing Software built specifically for developers. Programmers can now keep their head in the code, while easily keeping customers informed as they push Commits to GIT. We invite you to create a project on Jeweler FREE, and easily bill clients and generate estimates, plan software development Sprints with AGILE, and keep your customers informed as you write code by simply using Git Commands in the Push Comments.</p>

    <p>Happy Coding!<br>
    - Jeweler</p>
  </body>
</html>
