<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1><%= @project_name %> on Jeweler</h1>

    <h3>You are invited to join the project</h3>

    <p>You can make payments, view and comment on Project Sprints, Tasks, view each task reported hours and planned-hours, and much much more. Keep up with what the developers are doing, communicate and collaborate to keep the project on-track and on-budget.. /p>

    <p>Happy Coding!<br>
    - Jeweler</p>
  </body>
</html>
