<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1><%= @project_name %> on Jeweler</h1>

    <h3>You are invited to become a Project Developer</h3>

    <p>Once you login to your Jeweler account you can accept the invitation on the Authenticated User Home Page</p>

    <p>Happy Coding!<br>
    - Jeweler</p>
  </body>
</html>
