<div id="chart-demo">
    <dx-chart
        id="zoomedChart"
        [dataSource]="coordinates"
        [useAggregation]="true">
        <dxi-series>
            <dxo-point [size]="7"></dxo-point>
        </dxi-series>
        <dxo-argument-axis [valueMarginsEnabled]="false">
        </dxo-argument-axis>
        <dxi-value-axis>
            <dxo-label>
                <dxo-format type="fixedPoint"></dxo-format>
            </dxo-label>
        </dxi-value-axis>
        <dxo-legend [visible]="false"></dxo-legend>
    </dx-chart>
    <dx-range-selector
        id="range-selector"
        [dataSource]="coordinates"
        (onValueChanged)="valueChanged($event)">
        <dxo-size [height]="120"></dxo-size>
        <dxo-scale [minRange]="1"></dxo-scale>
        <dxo-slider-marker>
            <dxo-format
                type="decimal"
                [precision]="0">
            </dxo-format>
        </dxo-slider-marker>
        <dxo-behavior
            callValueChanged="onMoving"
            [snapToTicks]="false">
        </dxo-behavior>
        <dxo-chart [useAggregation]="true">
            <dxi-series></dxi-series>
        </dxo-chart>
    </dx-range-selector>
</div>