h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
/deep/ #employee {
    margin: 20px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
/deep/ #employee > p {
    padding: 10px 20px;
}
/deep/ .address {
    height: 60px;
}
/deep/ .options {
     padding: 20px;
     background-color: rgba(191, 191, 191, 0.15);
     margin-top: 20px;
}
/deep/ .caption {
    font-size: 18px;
    font-weight: 500;
}
/deep/ .option {
    margin-top: 10px;
}