/deep/ #data-grid-demo {
    min-height: 540px;
}

/deep/ .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/deep/ .option {
    margin-top: 10px;
}

/deep/ .caption {
    font-size: 18px;
    font-weight: 500;
}

/deep/ .option > label {
    margin-right: 10px;
}

/deep/ .option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
}