<div data-options="dxView : { name: 'currentHotel', title: 'Hotel' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
            <div class="external-hotel">
                <div class="data-hotel content">
                    <div class="date-info">
                        <p class="date" data-bind="text:date"></p>
                        <p class="adults" data-bind="text: adultsCurrent "></p>
                        <div class="change-search gray-button" data-bind="dxButton: {
                            text: 'Change Search',
                            onClick : showSearch,
                            width: 138,
                            height: 40
                        }, css: {
                            'change-search-active': visibleSearch
                        }"></div>
                    </div>
                    <div class="hotel-info">
                        <h4 class="hotel-name" data-bind="text:hotelName "></h4>
                        <div class="rating-container">
                            <div class="rating-stars" data-bind="style: { width: 20 * customerRating() + '%' }"></div>
                        </div>
                        <div class="external-address">
                            <p class="address" data-bind="text: fullAddress "></p>
                        </div>
                    </div>
                    <div class="internal-search" data-bind="dxPopup: {
                        visible: visibleSearch,
                        width:380,
                        height: 290,
                        closeOnOutsideClick: true,
                        dragEnabled: false,
                        showTitle: false,
                        showCloseButton: false,
                        shading: false,
                        contentTemplate: 'changeSearch',
                        position: {
                            at: 'top',
                            offset :'275 316',
                            of: '.page'
                        }
                    }">
                        <div data-options="dxTemplate: { name:'changeSearch' }">
                            <div class="hotel-search">
                                <div class="change-search-form form" data-bind="dxForm: {
                                    formData: {
                                        location : searchData.location,
                                        checkIn: searchData.checkIn,
                                        checkOut: searchData.checkOut,
                                        rooms: searchData.rooms,
                                        adults: searchData.adults,
                                        children: searchData.children
                                    },
                                    onFieldDataChanged: function(e) {
                                        if(e.dataField === 'checkIn') {
                                            var editor = e.component.getEditor('checkOut'),
                                                date = e.value;
                                            if(editor) {
                                                editor.option('min', new Date(date.getTime() + 1000 * 60 * 60 * 24 * 1));
                                                editor.option('max', new Date(date.getTime() + 1000 * 60 * 60 * 24 * 30));
                                            }
                                        }
                                    },
                                    screenByWidth: function(){
                                        return 'lg';
                                    },
                                    showValidationSummary: true,
                                    showColonAfterLabel: false,
                                    labelLocation: 'top',
                                    showRequiredMark: false,
                                    width: 344,
                                    items: [{
                                        itemType: 'group',
                                        colCount: 4,
                                        items: [{
                                            colSpan: 4,
                                            dataField: 'location',
                                            editorType: 'dxSelectBox',
                                            editorOptions: {
                                                dataSource: selectBoxData,
                                                displayExpr: 'City',
                                                valueExpr:'ID',
                                                height: 30
                                            },
                                            validationRules: [{
                                                type: 'required',
                                                message: 'Location is required'
                                            }]
                                        }, {
                                            colSpan: 2,
                                            dataField: 'checkIn',
                                            editorType: 'dxDateBox',
                                            editorOptions: {
                                                type: 'date',
                                                min: minDateCheckIn(),
                                                height: 29,
                                                width: '100%'
                                            },
                                            validationRules: [{
                                                type: 'required',
                                                message: 'Check in is required'
                                            }] 
                                        }, {
                                            colSpan: 2,
                                            dataField: 'checkOut',
                                            editorType: 'dxDateBox',
                                            editorOptions: {
                                                type: 'date',
                                                min: minDateCheckOut(),
                                                max: maxDateCheckOut(),
                                                height: 29,
                                                width: '100%'
                                            },
                                            validationRules: [{
                                                type: 'required',
                                                message: 'Check out is required'
                                            }]
                                        }, {
                                            colSpan: 2,
                                            dataField: 'rooms',
                                            editorType: 'dxSelectBox',
                                            editorOptions: {
                                                dataSource: numberOfRooms,
                                                placeholder: '',
                                                height: 29
                                            },
                                            validationRules: [{
                                                type: 'required',
                                                message: 'Rooms is required'
                                            }]
                                        }, {
                                            itemType: 'group',
                                            colCount: 2,
                                            colSpan: 2,
                                            items: [{
                                                dataField: 'adults',
                                                editorType: 'dxSelectBox',
                                                editorOptions: {
                                                    dataSource: numberOfAdults,
                                                    placeholder: '',
                                                    height: 29
                                                },
                                                validationRules: [{
                                                    type: 'required',
                                                    message: 'Adults is required'
                                                }]
                                            }, {
                                                dataField: 'children',
                                                editorType: 'dxSelectBox',
                                                editorOptions: {
                                                    dataSource: numberOfChildren,
                                                    placeholder: '',
                                                    height: 29
                                                }
                                            }]
                                        }]
                                    }]
                                }">
                                </div>
                                <div class="search gray-button" data-bind="dxButton: {
                                    text: 'Apply',
                                    onClick: searchClick,
                                    width: 341,
                                    height: 40
                                }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="external-gallery-guest">
                <div class="gallery-guest">
                    <div class="gallery-hotel">
                        <div class="gallery-container-hotel" data-bind="dxGallery: {
                            selectedIndex: currentImageHotel,
                            dataSource: hotelGallery().images,
                            noDataText: 'Loading...',
                            height:387,
                            width: 620,
                            showIndicator: false
                        }">
                            <div data-options="dxTemplate: { name: 'item' }">
                                <img data-bind="attr: { src: src }" />
                            </div>
                        </div>
                        <div class="mini-gallery-hotel" data-bind="foreach:hotelGallery().images">
                            <div class="external-padding">
                                <div data-bind=" css: { 'current-img': index == $parent.currentImageHotel() }">
                                    <div data-bind=" css: { 'white-pading': index == $parent.currentImageHotel() }">
                                    </div>
                                </div>
                                <img class="small-image-hotel" data-bind="attr: { src: src }, click: $parent.selectedIndexHotel">
                            </div>
                        </div>
                    </div>
                    <div class="guests">
                        <div class="caption">
                            <span>What our guests say...</span>
                        </div>
                        <div class="reviews" data-bind="foreach: reviews">
                            <div class="review">
                                <p class="text" data-bind="text: review"></p>
                                <p class="posted-on" data-bind="text:postedOn "></p>
                                <div class="rating-container">
                                    <div class="rating-stars" data-bind="style:{width: 20 * rating + '%'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description content">
                <div class="caption">Description</div>
                <div class="text" data-bind="text:description"></div>
            </div>
            <div class="hotel-features content">
                <div class="feature">
                    <div class="caption">Features</div>
                    <div class="features" data-bind="foreach:features">
                        <div data-bind="text:feature"></div>
                    </div>
                </div>
                <div class="room">
                    <div class="caption">Rooms</div>
                    <div class="features">
                        <div>Climate control    </div>
                        <div>Air conditioning</div>
                        <div>Coffee/tea maker</div>
                        <div>Iron/ironing</div>
                    </div>
                </div>
                <div class="location">
                    <div class="caption">Location</div>
                    <div class="features">
                        <div>Airport shuttle (available 24 hours)</div>
                        <div> Cruise terminal shuttle</div>
                    </div>
                </div>
            </div>
        <div class="accordion-hotels" data-bind="dxAccordion:{
            items: roomDesc,
            itemTemplate:'text',
            selectedIndex: selectedAccItem,
            noDataText: 'Loading...',
            onItemTitleClick: resetScroll
        }">
            <div class="list-item-custom content" data-options="dxTemplate : { name: 'title' }">
                <div class="short-description">
                    <div class="accordion-state"></div>
                    <div class="price">
                        <div class="book-it gray-button" data-bind="dxButton: {
                            text:'Book it',
                            onClick: $root.booking
                        }"></div>
                        <div class="lowest-price" data-bind="text: $data.title.nightlyRate"></div>
                    </div>
                    <div class="lowest-price-text">
                        LOWEST PRICE
                    </div>
                    <p class="description-room" data-bind="text: $data.title.shortDescription"></p>
                </div>
            </div>
            <div class="list-item-custom content fullContent" data-options="dxTemplate : { name: 'text' } ">
                <div class="full-description">
                    <div class="text">
                        <span data-bind="text:$data.text.roomType"></span>
                        <span data-bind="text:$data.text.shortDescription"></span>
                    </div>
                    <div class="container-room">
                        <div class="scroll scroll-button-left" data-bind="click: $root.resetScroll,  css: { 'scroll-left-no-active': !$root.scrollRight() } "></div>
                        <div class="external-room-gallery">
                            <div class="room-gallery" data-bind="foreach: $data.text.roomGalleries, css: { 'scroll-right': $root.scrollRight }">
                                <div class="padding-img">
                                    <img class="small-image" data-bind="attr: { src: src }, click: $root.openRoomGallery">
                                </div>
                            </div>
                        </div>
                        <div class="scroll scroll-button-right" data-bind="click:$root.galleryRight,  css: {'scroll-right-no-active' : $root.scrollRight() }"></div>
                    </div>
                    <div class="features">
                        <div class="features-part-1" data-bind="foreach: $data.text.featuresPart1">
                            <div class="feature">
                                <img class="icon" data-bind="attr: {src:icon}" />
                                <div data-bind="text: feature"></div>
                            </div>
                        </div>
                        <div class="features-part-2" data-bind="foreach: $data.text.featuresPart2">
                            <div class="feature">
                                <img class="icon" data-bind="attr: {src:icon}" />
                                <div data-bind="text: feature"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-room" data-bind="dxPopup: {
            visible: popupRoomVisible,
            width:600,
            height:520,
            closeOnOutsideClick: true,
            dragEnabled:false,
            showTitle:false,
            showCloseButton: false
        }">
            <div class="gallery-container-room" data-bind="dxGallery: {
                selectedIndex: currentImageRoom,
                dataSource: roomGallery,
                onContentReady: roomGalleryReadyAction,
                height: 400,
                width: 570,
                showIndicator: false
            }">
                <div data-options="dxTemplate: { name: 'item' }">
                    <img data-bind="attr: { src: src }" />
                </div>
            </div>
            <div class="external-minigallary-room">
                <div class="mini-gallery-room" data-bind="foreach: roomGallery">
                    <div class="external-padding-room">
                        <div data-bind="  css: { 'current-img-room': index === $parent.currentImageRoom()}">
                            <div data-bind="  css: { 'white-pading-room': index === $parent.currentImageRoom()}">
                            </div>
                        </div>
                        <img class="small-image-room" data-bind=" attr: { src: src }, click: $parent.selectedIndexRoom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

