<div data-options="dxView : { name: 'hotels', title: 'Hotels' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div class="external-search-data">
            <div class="search-data content">
                <div class="extrnal-on-map">
                    <div class="map" data-bind="dxMap: {
                        center: cityOnMap(),
                        width: 237,
                        height: 89,
                        zoom: 13
                    }"></div>
                </div>
                <div class="site">
                    <h4 class="city" data-bind="text: location"></h4>
                    <p class="date days-adults" data-bind="text: resultDate"></p>
                    <p class="days-adults" data-bind="text: resultAdults"></p>
                </div>
            </div>
        </div>
        <div class="search-info-hotels">
            <div class="hotels content">
                <div class="result-count">
                    <div class="result-serch">
                        <p class="text-result">RESULTS</p>
                        <p class="count" data-bind="text: amountHotel"></p>
                    </div>
                    <div class="search-attributes">
                        <div class="full-attribute city" data-bind="if: currentCity">
                            <div class="attribute">
                                <div class="attribute-name">
                                    <p data-bind="text:currentCityName"></p>
                                </div>
                                <div class="close-attribute">
                                    <div class="img" data-bind="click: closeCurrentCity, visible:currentCity()"></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-attribute hotel" data-bind="style: { display: currentHotelName() ? 'inline-block' : 'none' }, css: { marginAttribute: currentHotelName() }">
                            <div class="attribute">
                                <div class="attribute-name">
                                    <p data-bind="text:currentHotelName"></p>
                                </div>
                                <div class="close-attribute">
                                    <div class="img" data-bind="click: closeCurrentHotelName, visible: currentHotelName()"></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-attribute stars" data-bind="style: { display: resultStars() ? 'inline-block' : 'none' }, css: { marginAttribute: resultStars() }">
                            <div class="attribute">
                                <div class="attribute-name">
                                    <p data-bind="text:resultStars"></p>
                                </div>
                                <div class="close-attribute">
                                    <div class="img" data-bind="click: closeResultStars, visible: resultStars()"></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-attribute customer" data-bind="style: { display: visibleCustomerRating() ? 'inline-block' : 'none' }, css: { marginAttribute: visibleCustomerRating }">
                            <div class="attribute">
                                <div class="attribute-name">
                                    <p data-bind="text:resultRating"></p>
                                </div>
                                <div class="close-attribute">
                                    <div class="img" data-bind="click:closeCustomerRating, visible: visibleCustomerRating"></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-attribute range" data-bind="style: { display: visibleRange() ? 'inline-block' : 'none' }, css: { marginAttribute: visibleRange }">
                            <div class="attribute">
                                <div class="attribute-name">
                                    <p data-bind="text:resultRange"></p>
                                </div>
                                <div class="close-attribute">
                                    <div class="img" data-bind="click: closeRange, visible: visibleRange"></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-attribute location-rating" data-bind="style: { display: locationRating() ? 'inline-block' : 'none' }, css: { marginAttribute: locationRating() }">
                            <div class="attribute">
                                <div class="attribute-name">
                                    <p data-bind="text:locationRating"></p>
                                </div>
                                <div class="close-attribute">
                                    <div class="img" data-bind="click: closeLocation, visible: locationRating()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="current-hotels" data-bind="foreach: currentHotels">
                    <div class="hotels-data">
                        <div class="img-adrs-rating">
                            <div class="name-address">
                                <div class="info">
                                    <span class="name-hotel" data-bind="text: name, click: $parent.goToHotel"></span>
                                    <br />
                                    <span class="fullAdrs" data-bind="text: fullAdrs"></span>
                                </div>
                                <div class="rating">
                                    <div class="type">
                                        <div id="img"></div>
                                        <span class="caption">TYPE</span>
                                        <span class="text" data-bind="text: hotelClass"></span>
                                    </div>
                                    <div class="location">
                                        <span class="caption">LOCATION</span>
                                        <span class="text" data-bind="text: locationRating"></span>
                                    </div>
                                    <div class="rating-text">
                                        <div id="img"></div>
                                        <span class="caption">RATING   </span>
                                        <span class="text" data-bind="text: ourRating"></span>
                                    </div>
                                </div>
                                <div class="rating-container">
                                    <div class="rating-stars" data-bind="style: { width: 20 * avgRating + '%' }"></div>
                                </div>
                            </div>
                            <div class="night-button">
                                <div>
                                    <p class="rate-number" data-bind="text: nightlyRate"></p>
                                </div>
                                <div class="caption">per night</div>
                                <div class="book-it gray-button" data-bind="dxButton: {
                                    text: 'Book it',
                                    onClick: $parent.goToBooking
                                }"></div>
                            </div>
                            <div class="extenal-on-img">
                                <img class="img" data-bind="attr: { src: src }" />
                            </div>
                            <p class="hotel-description" data-bind="text: description"></p>
                        </div>
                    </div>
                </div>
                <div class="options-search">
                    <div class="label-hotel-name label">Search by Hotel Name</div>
                    <div class="hotel-name">
                        <div class="list-hotel" data-bind="dxSelectBox: {
                            dataSource: hotels,
                            mode: 'search',
                            displayExpr: 'name',
                            placeholder: '',
                            valueExpr: 'name',
                            value: currentHotelName,
                            width: 200,
                            height: 30
                        }"></div>
                    </div>
                    <div class="label-nightly-rate label">Nightly Rate</div>
                    <div class="nightly-rate">
                        <div data-bind="dxRangeSlider: {
                            min: 0,
                            max: 1000,
                            start: rangeStart,
                            end: rangeEnd,
                            width: 172,
                            tooltip: toolRateNightly
                        }"></div>
                    </div>
                    <div class="label-customer-rating label">Customer Rating</div>
                    <div class="customer-rating">
                        <div data-bind="dxSlider: {
                            min: 1,
                            max: 5,
                            value: customerRating,
                            width: 174,
                            tooltip: {
                                enabled: true,
                                showMode: 'always' 
                            }
                        }"></div>
                    </div>
                    <div class="label-our-rating label">Our Rating</div>
                    <div class="our-rating-external">
                        <div class="our-rating">
                            <div class="checkboxs-stars" data-bind="foreach: checkboxStars">
                                <div class="dx-field-value" data-bind="dxCheckBox: {
                                    value: checked
                                }"></div>
                            </div>
                            <div class="stars-count">
                                <div class="star one"></div>
                                <div class="star two"></div>
                                <div class="star three"></div>
                                <div class="star four"></div>
                                <div class="star five"></div>
                            </div>
                        </div>
                    </div>
                    <div class="label-location label">Location Rating</div>
                    <div class="selectbox-location" data-bind="dxSelectBox: {
                        dataSource: locRating,
                        placeholder: '',
                        value: locationRating,
                        width: 200 }">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="external-for-plagination" data-bind="css: { 'hidden-pagination': pages().length <= 1 }">
                <div class="switch switch-left" data-bind="css: { 'switch-left-disabled': disablePrev }, click: previousPage"></div>
                <div class="pagination" data-bind="foreach: pages">
                    <div class="number-page" data-bind=" click: $parent.selectedPage, css: { 'number-page-active': number == $parent.currentPage() }">
                        <p data-bind="text:number"></p>
                    </div>
                </div>
                <div class="switch switch-right" data-bind="css: { 'switch-right-disabled': disableNext }, click: nextPage"></div>
            </div>
        </div>
    </div>
</div>
