/deep/ #sales {
    max-height: 570px;
}
/deep/ .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}
/deep/ .caption {
    font-size: 18px;
    font-weight: 500;
}
/deep/ .option {
    width: 24%;
    display: inline-block;
    margin-top: 10px;
}