/deep/ .right-side {
    position: absolute;
    right: 1px;
    top: 6px;
}
/deep/ .logo {
    line-height: 48px;
}
/deep/ .logo img { 
    vertical-align: middle;
    margin: 0 5px;
}
/deep/ .dx-row.dx-data-row .employee {
    color: #bf4e6a;
    font-weight: bold;
}
/deep/ #gridContainer {
    margin: 20px 0;
    height: 400px;
}