<div class="modal" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="$('#modal').modal('hide'); return false;" aria-hidden="true">&times;</button>
        <span id="modal_title"></span>
      </div>
      <div class="modal-body">
        <div id="modal_target">
          <!-- Content replaces #modal_target Div ID-->
        </div>
      </div>
      <div id="modal_close" style="display:none" class="modal-footer">
        <button type="button" onclick="$('#modal').modal('hide'); return false;" class="btn btn-success">Close</button>
      </div>
    </div>
  </div>
</div>