<% if @project.is_owner(current_user) %>
  <button type="button" class="btn btn-success btn-block text-left">
    Project Owner
    <i class="fa-check pull-right"></i>
  </button>


  <% if @project.current_task.nil? %>
    <div class="alert alert-success">
      Please <a href="#" style="color: white" onclick="$('#task_list').popover('toggle');"><strong>Set a Current Task
      <i class="fas fa-gem"></i></strong></a> You Are Working On.
      <i class="fa-lg fa-check pull-right"></i>
    </div>

  <% else %>

    <% if @project.payment_requested? %>
      <div id="request_payment" class="alert alert-danger">
        <strong>Payment Requested.</strong> Should arrive shortly!
      </div>
    <% else %>
      <div style="display:none" id="request_payment" class="alert alert-danger">
        <strong>Payment Requested.</strong> Should arrive shortly!
      </div>
      <div id="request_payment_button">
        <%= link_to 'Request Sprint Payment<i class="fas fa-dollar-sign fa-2x pull-right"></i>'.html_safe,
                    request_payment_path(@project.current_sprint.id),
                    remote: true,
                    :class => 'btn btn-success btn-block text-left' %>
      </div>
      </a>
    <% end %>

  <% end %>


<% elsif @project.is_customer(current_user) %>
  <button type="button" class="btn btn-success btn-block text-left">
    Project Member
    <i class="fa-check pull-right"></i>
  </button>
  <% if @project.payment_requested? %>
    <div class="alert alert-danger">
      <strong>Payment Requested.</strong> Click here to keep the dev happy!
    </div>
  <% end %>
  <a href="#" class="btn btn-success btn-block text-left">
    Request Sprint
    <% @project.sprint_current.to_s %> Payment
    <i class="fas fa-dollar-sign fa-2x pull-right"></i>
  </a>
<% end %>