<% if project.current_task.nil? %>
  <script>
      $('#select-current-task-btn-2').click(function () {
          $('#task-list').popover('toggle');
      });
  </script>
  <li class="active notification-success">
    <a href="#" id="select-current-task-btn-2">
      <i class="fa-check"></i>
      <span class="line">
          <strong>Choose a Task You are Currently Working on</strong>
        </span>
      <span class="line small time">
        </span>
    </a>
  </li>
<% end %>

<% project.sprint_notes.includes(:author).each do |event| %>

  <li class="notification-<%= ApplicationHelper.note_icon_color(event.note_type) %>">
    <a href="#">
      <%= ApplicationHelper.note_icon(event.note_type).html_safe %>

      <span class="line">
          <strong><%= event.author.full_name %> <%= ApplicationHelper.note_event_action(event) %></strong>
        </span>

      <span class="line small time"></span>
    </a>
  </li>

<% end %>